@font-face {
   font-weight: 400;
   font-family: "Open Sans";
   font-style: normal;
   font-display: swap;
   src: local("Open Sans");
}
 @font-face {
   font-weight: 700;
   font-family: "Open Sans";
   font-style: normal;
   font-display: swap;
   src: local("Open Sans");
}
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   white-space: nowrap;
   border: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(100%);
}
 html {
   box-sizing: border-box;
}
 *, *::before, *::after {
   box-sizing: inherit;
}
 body {
   margin: 0;
   padding: 0;
   font-weight: 700;
   font-size: 17px;
   line-height: 20px;
   font-family: "Open Sans", "Arial", sans-serif;
   color: #000;
}
 a {
   color: #000;
   text-decoration: none;
}
 img {
   display: block;
   max-width: 100%;
   height: auto;
}
 .button {
   display: block;
   padding: 16px;
   font-weight: 700;
   font-size: 17px;
   line-height: 16px;
   text-align: center;
   color: #444;
   text-transform: uppercase;
   text-decoration: none;
   background-color: #fff;
   border: 2px solid #444;
   cursor: pointer;
}
 .button:hover {
   color: #fff;
   background-color: #444;
}
 .button:active {
   color: rgba(255, 255, 255, 0.3);
}
 .page-footer {
   background-color: #fafafa;
}
 .page-footer__logo-wrapper {
   display: none;
}
 @media (min-width: 768px) {
   .page-footer__logo-wrapper {
     display: block;
  }
}
 @media (min-width: 768px) {
   .page-footer__inner {
     display: flex;
     align-items: center;
     padding: 33px 0 41px;
  }
}
 .page-footer__icon:hover {
   fill: #46c1ae;
}
 .page-footer__icon:active {
   opacity: 0.3;
}
 .page-header {
   position: relative;
   background-color: #fff;
}
 @media (min-width: 768px) {
   .page-header {
     background: linear-gradient(white 88px, #ececec 2px, transparent 90px);
     background-color: #fafafa;
     background-repeat: no-repeat;
     background-size: 100% 176px;
  }
}
 @media (min-width: 768px) {
   .page-header__inner {
     display: flex;
  }
}
 .page-header__logo-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 79px;
}
 @media (min-width: 768px) {
   .page-header__logo-wrapper {
     order: 1;
     width: 320px;
     height: 88px;
     background-color: #fff;
  }
}
 @media (min-width: 1150px) {
   .page-header__logo-wrapper {
     order: 2;
     width: 175px;
  }
}
 .page-header__title-wrapper {
   padding-top: 70px;
   padding-right: 30px;
   padding-bottom: 77px;
   padding-left: 30px;
   background-color: #fafafa;
}
 @media (min-width: 768px) {
   .page-header__title-wrapper {
     padding-top: 36px;
     padding-bottom: 92px;
     background-image: url("../img/bg-zigzag-fill.svg");
     background-repeat: repeat-x;
     background-position: 0 bottom;
     background-size: auto 22.7px;
  }

}
 @media (min-width: 1150px) {
   .page-header__title-wrapper {
     padding-bottom: 118px;
     background-size: auto 34px;
  }
}
 .page-header__title-wrapper--index {
   padding-bottom: 120px;
   background-image: url("../img/hero-mobile@1x.jpg");
   background-repeat: no-repeat;
   background-position: center -18px;
}
 @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
   .page-header__title-wrapper--index {
     background-image: url("../img/hero-mobile@2x.jpg");
     background-size: 575px 373px;
  }
}
 @media (min-width: 768px) {
   .page-header__title-wrapper--index {
     padding-top: 94px;
     padding-bottom: 372px;
     background-image: url("../img/hero-tablet@1x.jpg");
     background-position: 50% -60px;
     background-size: auto;
  }
}
 @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
   .page-header__title-wrapper--index {
     background-image: url("../img/hero-tablet@2x.jpg");
     background-size: 1150px 746px;
  }
}
 @media (min-width: 1150px) {
   .page-header__title-wrapper--index {
     padding-top: 94px;
     padding-bottom: 359px;
     background-image: url("../img/hero-desktop@1x.jpg");
  }
}
 @media (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
   .page-header__title-wrapper--index {
     background-image: url("../img/hero-desktop@2x.jpg");
     background-size: cover;
  }
}
 .page-header__title {
   margin: 0;
   font-size: 27px;
   line-height: 30px;
   text-align: center;
   color: #010000;
}
 @media (min-width: 768px) {
   .page-header__title {
     font-size: 43px;
     line-height: 50px;
  }
}
 @media (min-width: 1150px) {
   .page-header__title {
     width: 70%;
     margin: 0 auto;
     font-size: 53px;
     line-height: 57px;
  }
}
 .page-header__logo img {
   pointer-events: none;
}
 .page-header__logo:hover[href] img {
   opacity: 0.6;
}
 .page-header__logo:active[href] img {
   opacity: 0.3;
}
 @media (min-width: 768px) {
   .page-header__logo {
     margin-right: auto;
  }
}
 .reviews-nav {
   display: flex;
   margin-bottom: 38px;
}
 @media (min-width: 768px) {
   .reviews-nav {
     position: absolute;
     right: 7px;
     bottom: 79px;
     width: 167px;
  }
}
 .reviews-nav__button {
   width: 50%;
   margin-top: 31px;
   padding: 10px 20px;
   background-color: transparent;
   border: 1px solid #ececec;
   cursor: pointer;
}
 @media (min-width: 768px) {
   .reviews-nav__button {
     margin: 0;
     border: none;
  }
}
 .reviews {
   position: relative;
   display: flex;
   flex-direction: column;
}
 @media (min-width: 768px) {
   .reviews {
     background-image: url("../img/review@1x.jpg");
     background-repeat: no-repeat;
     background-position: 0 26px;
  }
}
 @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
   .reviews {
     background-image: url("../img/review@2x.jpg");
     background-size: 350px 457px;
  }
}
 @media (min-width: 1150px) {
   .reviews {
     max-width: 1150px;
     margin: auto;
     padding-bottom: 48px;
     background-position: 49px 34px;
  }
}
 @media (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
   .reviews {
     background-image: url("../img/review@2x.jpg");
     background-size: 350px 457px;
  }
}
 .reviews__quotation {
   margin: 0;
}
 @media (min-width: 768px) {
   .reviews__quotation {
     margin-bottom: 113px;
  }
}
 @media (min-width: 1150px) {
   .reviews__quotation {
     margin-right: 105px;
     margin-left: 175px;
  }
}
 .reviews__title {
   margin: 0;
   margin-top: 27px;
   margin-bottom: 24px;
   font-size: 25px;
   line-height: 30px;
}
 @media (min-width: 768px) {
   .reviews__title {
     margin-top: 104px;
     font-size: 43px;
     line-height: 50px;
     text-indent: -5px;
  }
}
 @media (min-width: 1150px) {
   .reviews__title {
     margin-left: 175px;
     font-size: 53px;
     line-height: 57px;
  }
}
 .reviews__text {
   margin: 0;
   margin-top: 15px;
   margin-bottom: 27px;
   font-weight: 400;
   font-size: 15px;
   line-height: 30px;
   color: #444;
}
 @media (min-width: 768px) {
   .reviews__text {
     margin-top: 50px;
     margin-bottom: 57px;
     font-size: 17px;
     line-height: 30px;
  }
}
 @media (min-width: 1150px) {
   .reviews__text {
     margin-bottom: 38px;
     line-height: 30px;
  }
}
 .reviews__author {
   display: block;
   font-style: normal;
}
 @media (min-width: 768px) {
   .reviews__author {
     width: 50%;
  }
}
 .reviews__author-name {
   display: block;
   margin-bottom: 2px;
   line-height: 24px;
}
 @media (min-width: 768px) {
   .reviews__author-name {
     margin-bottom: 4px;
     font-size: 18px;
  }
}
 @media (min-width: 1150px) {
   .reviews__author-name {
     font-weight: 400;
     font-size: 17px;
     letter-spacing: -1.2px;
  }
}
 .reviews__author-nick {
   font-weight: 400;
   line-height: 30px;
   color: #444;
}
 @media (min-width: 768px) {
   .reviews__author-nick {
     font-size: 17px;
     line-height: 30px;
  }
}
 @media (min-width: 1150px) {
   .reviews__author-nick {
     letter-spacing: -1.6px;
  }
}
 .reviews__write {
   width: 100%;
   margin-bottom: 45px;
}
 @media (min-width: 768px) {
   .reviews__write {
     position: absolute;
     top: 106px;
     right: 0;
     width: 175px;
  }
}
 @media (min-width: 1150px) {
   .reviews__write {
     top: 113px;
  }
}
 .reviews-nav__arrow:hover {
   opacity: 0.6;
}
 .reviews-nav__arrow:active {
   opacity: 0.3;
}
 .socials {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 25px;
   padding-right: 62px;
   padding-bottom: 23px;
   padding-left: 56px;
   border-bottom: 1px solid #ececec;
}
 @media (min-width: 768px) {
   .socials {
     width: 140px;
     margin: 0;
     margin-left: 160px;
     padding: 0;
     padding-top: 14px;
     border: none;
  }
}
 @media (min-width: 1150px) {
   .socials {
     margin-left: 350px;
  }
}
 .socials__icon:hover {
   fill: #46c1ae;
}
 .socials__icon:active {
   opacity: 0.3;
}
 .special-table {
   width: 100%;
   margin-bottom: 27px;
   border-collapse: collapse;
   font-weight: normal;
   font-size: 15px;
   color: #444;
}
 @media (min-width: 768px) {
   .special-table {
     margin-bottom: 55px;
  }
}
 @media (min-width: 1150px) {
   .special-table {
     margin-bottom: 109px;
  }
}
 .special-table__row {
   display: flex;
   justify-content: flex-start;
   padding: 10px 0;
   border-bottom: 1px solid #f1f1f1;
}
 .special-table__cell {
   padding: 0;
}
 .special-table__cell--name {
   width: 38%;
}
 @media (min-width: 768px) {
   .special-table__cell--name {
     width: 32%;
  }
}
 .special {
   position: relative;
   margin-top: 27px;
   padding-bottom: 36px;
}
 @media (min-width: 768px) {
   .special {
     margin-top: 41px;
     padding-bottom: 50px;
  }
}
 @media (min-width: 1150px) {
   .special {
     margin-top: 61px;
     padding-bottom: 73px;
  }
}
 .special__title {
   margin: 0;
   font-size: 25px;
   line-height: 30px;
}
 @media (min-width: 768px) {
   .special__title {
     font-size: 43px;
     line-height: 50px;
     text-indent: -4px;
  }
}
 @media (min-width: 1150px) {
   .special__title {
     z-index: 1;
     font-size: 53px;
     line-height: 57px;
     text-indent: 0;
  }
}
 .special__tag {
   display: block;
   margin-top: 5px;
   color: #63d1bb;
   text-transform: uppercase;
}
 @media (min-width: 768px) {
   .special__tag {
     width: 75px;
     margin-right: 26px;
     line-height: 17px;
     text-align: center;
  }
}
 @media (min-width: 1150px) {
   .special__tag {
     margin-right: 50px;
     margin-left: 44px;
  }
}
 .special__description {
   margin: 0;
   margin-bottom: 16px;
   font-weight: normal;
   font-size: 15px;
   line-height: 24px;
   color: #444;
}
 @media (min-width: 768px) {
   .special__description {
     margin-bottom: 34px;
     font-size: 17px;
     line-height: 30px;
  }
}
 @media (min-width: 1150px) {
   .special__description {
     margin-bottom: 45px;
  }
}
 .special__price {
   margin: 0;
   margin-bottom: 25px;
   font-size: 17px;
   line-height: 24px;
   text-align: center;
   color: #444;
}
 @media (min-width: 768px) {
   .special__price {
     margin-bottom: 34px;
     font-size: 20px;
  }
}
 .special__button {
   width: 100%;
}
 @media (min-width: 768px) {
   .special__header {
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
}
 @media (min-width: 1150px) {
   .special__header {
     flex-direction: row-reverse;
     justify-content: flex-end;
     padding-top: 58px;
  }
}
 .special__info {
   margin-top: 23px;
}
 @media (min-width: 768px) {
   .special__info {
     width: 300px;
     margin-top: 49px;
  }
}
 @media (min-width: 1150px) {
   .special__info {
     margin-left: 175px;
  }
}
 .special__image-wrapper {
   margin-bottom: 25px;
}
 @media (min-width: 768px) {
   .special__image-wrapper {
     position: absolute;
     top: 107px;
     left: 50%;
  }
}
 @media (min-width: 1150px) {
   .special__image-wrapper {
     top: 5px;
  }
}
 @media (min-width: 768px) {
   .special__footer {
     width: 292px;
  }
}
 @media (min-width: 1150px) {
   .special__footer {
     margin-left: 175px;
  }
}
 .toggle {
   position: absolute;
   top: 32px;
   right: 32px;
   z-index: 2;
   width: 20px;
   height: 14px;
   margin: 0;
   padding: 0;
   background: transparent;
   border: none;
   cursor: pointer;
}
 .toggle::before, .toggle::after {
   content: "";
   position: absolute;
   top: 6px;
   right: -6px;
   width: 28px;
   height: 2px;
   background-color: #000;
}
 .toggle::before {
   box-shadow: none;
   transform: rotate(45deg);
}
 .toggle::after {
   transform: rotate(-45deg);
}
 @media (min-width: 768px) {
   .toggle {
     display: none;
  }
}
 .zig-zag::after {
   content: "";
   position: absolute;
   top: 100%;
   display: block;
   width: 100%;
   height: 7px;
   background-image: url("../img/bg-zigzag-line.svg");
   background-repeat: repeat-x;
   background-position: 8px 0;
   background-size: 320px 7px;
}
 @media (min-width: 768px) {
   .zig-zag::after {
     height: 17px;
     background-position: 19px 0;
     background-size: 768px 17px;
  }
}
 @media (min-width: 1150px) {
   .zig-zag::after {
     width: 1050px;
     height: 23px;
     background-position: 24px 0;
     background-size: 1050px 23px;
     transform: translateX(5%);
  }
}
 @media (min-width: 1200px) {
   .zig-zag::after {
     left: 50%;
     transform: translateX(-50%);
  }
}
 .modal--opened .modal__box {
   display: flex;
}
 .modal--opened .modal__fade {
   top: 0;
}
 .modal__title {
   margin: 0;
   margin-bottom: 12px;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   text-transform: uppercase;
   text-indent: -2px;
}
 @media (min-width: 768px) {
   .modal__title {
     font-size: 30px;
     line-height: 57px;
  }
}
 .modal__legend {
   margin-bottom: 23px;
   font-weight: 400;
   font-size: 15px;
   line-height: 30px;
   text-align: center;
   color: #444;
}
 @media (min-width: 768px) {
   .modal__legend {
     font-size: 17px;
  }
}
 .modal__label {
   position: relative;
   display: inline-block;
   min-width: 82px;
   min-height: 52px;
   padding: 15px 5px;
   line-height: 16px;
   text-align: center;
   color: #444;
   border: 2px solid rgba(68, 68, 68, 0.1);
   cursor: pointer;
}
 .modal__label:hover {
   border: 2px solid rgba(68, 68, 68, 0.3);
}
 .modal__label:active {
   border: 2px solid #62d1ba;
}
 @media (min-width: 768px) {
   .modal__label {
     min-width: 112px;
  }
}
 .modal__form-group {
   width: 100%;
   margin: 0;
   margin-bottom: 33px;
   padding: 0;
   border: none;
}
 .modal__submit {
   width: 100%;
   color: #fff;
   background-color: #63d1bb;
   border: none;
}
 .modal__input {
   position: absolute;
   width: 0;
   height: 0;
   cursor: pointer;
   opacity: 0;
}
 .modal__input:checked + .modal__label {
   border-color: #63d1bb;
}
 .modal__form {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 19px;
}
 @media (min-width: 768px) {
   .modal__form {
     width: 350px;
     margin: 0 auto;
  }
}
 .modal__size-box {
   display: inline-block;
   margin-right: 1px;
}
 .modal__size-box:last-child {
   margin-right: 0;
}
 .modal__inner {
   display: flex;
   justify-content: space-between;
}
 .modal__fade {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.9);
}
 .modal__box {
   position: fixed;
   top: 50%;
   left: 50%;
   display: none;
   flex-direction: column;
   flex-wrap: wrap;
   width: 100%;
   margin: 0 auto;
   padding: 30px;
   background-color: #fff;
   border: 1px solid #c6c6c6;
   box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
   transform: translate(-50%, -50%);
}
 @media (min-width: 330px) {
   .modal__box {
     width: 320px;
  }
}
 @media (min-width: 768px) {
   .modal__box {
     width: 566px;
  }
}
 .manufacturing {
   margin-bottom: 60px;
}
 @media (min-width: 768px) {
   .manufacturing {
     margin-bottom: 63px;
  }
}
 @media (min-width: 1150px) {
   .manufacturing {
     margin-bottom: 102px;
  }
}
 .manufacturing__inner {
   position: relative;
   display: flex;
   flex-direction: column;
   border: 1px solid #ececec;
}
 .manufacturing__inner:hover {
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
 .manufacturing__inner:active {
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 1150px) {
   .manufacturing__inner {
     align-items: flex-end;
  }
}
 .manufacturing__title-wrapper {
   position: relative;
   padding: 7px 30px 9px 90px;
}
 .manufacturing__title-wrapper::before {
   content: "";
   position: absolute;
   top: 32px;
   left: 32px;
   width: 32px;
   height: 22px;
   background-image: url("../img/icon-video.svg");
   background-repeat: no-repeat;
   background-position: center;
}
 @media (min-width: 768px) {
   .manufacturing__title-wrapper {
     padding-left: 105px;
     text-indent: 1px;
  }
   .manufacturing__title-wrapper::before {
     top: 37px;
     left: 41px;
  }
}
 @media (min-width: 1150px) {
   .manufacturing__title-wrapper {
     max-width: 350px;
     padding: 0;
     padding-top: 93px;
     padding-right: 100px;
     padding-left: 61px;
  }
   .manufacturing__title-wrapper::before {
     top: 44px;
     left: 63px;
  }
}
 .manufacturing__title {
   font-size: 17px;
   line-height: 24px;
}
 @media (min-width: 768px) {
   .manufacturing__title {
     margin: 0;
     margin-top: 31px;
     font-size: 20px;
  }
}
 @media (min-width: 1150px) {
   .manufacturing__title {
     margin: 0;
  }
}
 .manufacturing__text {
   margin: 0;
   margin-top: 16px;
   margin-bottom: 25px;
   font-weight: 400;
   font-size: 13px;
   line-height: 24px;
   color: #444;
}
 @media (min-width: 768px) {
   .manufacturing__text {
     margin-top: 8px;
     margin-bottom: 37px;
     font-size: 15px;
     line-height: 30px;
  }
}
 @media (min-width: 1150px) {
   .manufacturing__text {
     margin-top: 14px;
     margin-bottom: 47px;
  }
}
 .manufacturing__player-container {
   position: relative;
   border: 1px solid #ececec;
}
 @media (min-width: 768px) {
   .manufacturing__player-container {
     order: -1;
     min-height: 455px;
  }
}
 @media (min-width: 1150px) {
   .manufacturing__player-container {
     position: absolute;
     top: 0;
     left: 0;
     min-width: 682px;
  }
}
 .manufacturing__descriprion {
   padding: 13px 33px 32px;
}
 @media (min-width: 768px) {
   .manufacturing__descriprion {
     padding-right: 41px;
     padding-bottom: 44px;
     padding-left: 39px;
  }
}
 @media (min-width: 1150px) {
   .manufacturing__descriprion {
     max-width: 350px;
     padding-top: 19px;
     padding-right: 57px;
     padding-bottom: 62px;
     padding-left: 63px;
     font-size: 15px;
     line-height: 30px;
  }
}
 .manufacturing__button {
   width: 100%;
}
 .manufacturing__player-button {
   position: absolute;
   top: 50%;
   left: 50%;
   background: none;
   border: none;
   transform: translate(-50%, -50%);
   cursor: pointer;
}
 .manufacturing__player-button:hover {
   transform: translate(-50%, -50%) scale(1.2);
   transition: 250ms;
}
 .manufacturing__player-button:active {
   transform: translate(-50%, -50%) scale(0.8);
   opacity: 0.3;
}
 .main-nav {
   position: relative;
   line-height: 24px;
}
 @media (min-width: 768px) {
   .main-nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 668px;
     margin: 0 auto;
  }
}
 @media (min-width: 1150px) {
   .main-nav {
     max-width: 1050px;
  }
}
 .main-nav__list {
   list-style: none;
   margin: 0;
   padding: 0;
   border-top: 1px solid #ececec;
}
 .main-nav__list--user {
   border-top: none;
}
 @media (min-width: 768px) {
   .main-nav__list {
     display: flex;
     flex-wrap: wrap;
     order: 3;
     max-width: 340px;
     border: none;
  }
   .main-nav__list--user {
     order: 2;
     max-width: 350px;
     background-color: #fff;
  }
}
 @media (min-width: 1150px) {
   .main-nav__list {
     order: 1;
     max-width: 400px;
  }
   .main-nav__list--user {
     order: 3;
     margin-right: 3px;
  }
}
 .main-nav__item {
   border-bottom: 1px solid #ececec;
}
 @media (min-width: 768px) {
   .main-nav__item {
     display: flex;
     align-items: center;
     min-height: 60px;
     border: none;
  }
}
 @media (min-width: 1150px) {
   .main-nav__item--catalog {
     border-right: 1px solid #ececec;
  }
}
 .main-nav__link {
   position: relative;
   display: block;
   padding-top: 27px;
   padding-bottom: 27px;
   padding-left: 76px;
}
 .main-nav__link:hover[href] {
   color: rgba(0, 0, 0, 0.6);
}
 .main-nav__link:active[href] {
   opacity: 0.3;
}
 .main-nav__link--search:hover .main-nav__search-icon {
   opacity: 1;
   fill: #63d1bb;
}
 .main-nav__link--cart:hover .main-nav__cart-icon {
   opacity: 1;
   fill: #63d1bb;
}
 @media (min-width: 768px) {
   .main-nav__link {
     width: 167px;
     padding: 0;
     font-size: 15px;
  }
   .main-nav__link--search {
     width: 82px;
     min-height: 88px;
     font-size: 0;
     box-shadow: 0 0 1px #ececec;
  }
   .main-nav__link--cart {
     width: 264px;
     font-size: 17px;
     text-align: right;
  }
}
 @media (min-width: 1150px) {
   .main-nav__link {
     font-size: 17px;
  }
   .main-nav__link--search {
     font-size: 0;
  }
   .main-nav__link--catalog {
     width: 184px;
  }
   .main-nav__link--form {
     width: auto;
     padding-left: 35px;
  }
}
 .main-nav__search-icon {
   position: absolute;
   top: 31px;
   left: 32px;
   opacity: 0.2;
   pointer-events: none;
}
 .main-nav__search-icon:active {
   opacity: 0.3;
}
 @media (min-width: 768px) {
   .main-nav__search-icon {
     top: 37px;
  }
}
 .main-nav__cart-icon {
   position: absolute;
   top: 29px;
   left: 31px;
   opacity: 0.2;
   pointer-events: none;
}
 @media (min-width: 768px) {
   .main-nav__cart-icon {
     top: 2px;
  }
}
 .main-nav__promo-list {
   display: none;
}
 @media (min-width: 768px) {
   .main-nav__promo-list {
     margin: 0;
     padding: 0;
     list-style: none;
     display: flex;
     order: 4;
  }
}
 @media (min-width: 1150px) {
   .main-nav__promo-list {
     width: 100%;
  }
}
 .main-nav__promo-item {
   display: flex;
   align-items: center;
   min-height: 60px;
}
 @media (min-width: 1150px) {
   .main-nav__promo-item {
     min-width: 178px;
  }
   .main-nav__promo-item--new {
     order: 1;
  }
   .main-nav__promo-item--sell {
     justify-content: center;
     order: 2;
  }
   .main-nav__promo-item--delivery {
     order: 3;
     margin-left: auto;
  }
}
 .main-nav__promo-link {
   display: none;
}
 @media (min-width: 768px) {
   .main-nav__promo-link {
     font-weight: 400;
     font-size: 15px;
  }
   .main-nav__promo-link:hover {
     opacity: 0.6;
  }
   .main-nav__promo-link:active {
     opacity: 0.3;
  }
   .main-nav__promo-link--delivery {
     display: block;
  }
}
 @media (min-width: 1150px) {
   .main-nav__promo-link {
     display: block;
     font-weight: 700;
  }
   .main-nav__promo-link--delivery {
     font-weight: 400;
  }
   .main-nav__promo-link--new {
     letter-spacing: 0.2px;
  }
}
 .main-nav--closed .main-nav__toggle::before {
   content: "";
   position: absolute;
   top: 8%;
   right: -1px;
   width: 20px;
   height: 2px;
   background-color: #000;
   box-shadow: 0 5px 0 0 #000, 0 11px 0 0 #000;
   transform: none;
}
 .main-nav--closed .main-nav__toggle::after {
   content: none;
}
 @media (max-width: 767px) {
   .main-nav--closed .main-nav__list {
     display: none;
  }
}
 @media (max-width: 767px) {
   .main-nav--closed .main-nav__list--user {
     display: none;
  }
}
 .main-nav--no-js .main-nav__toggle {
   display: none;
}
 .knitting {
   margin-top: 21px;
   margin-bottom: 57px;
}
 @media (min-width: 768px) {
   .knitting {
     margin-bottom: 50px;
  }
}
 .knitting__description {
   margin: 0;
   margin-top: 13px;
   margin-bottom: 25px;
   font-weight: 400;
   font-size: 13px;
   line-height: 24px;
   color: #444;
}
 @media (min-width: 768px) {
   .knitting__description {
     margin-top: 20px;
     margin-bottom: 0;
     font-size: 17px;
     line-height: 30px;
  }
}
 @media (min-width: 1150px) {
   .knitting__description {
     width: 700px;
     margin: 0 auto;
     margin-top: 25px;
  }
}
 .form {
   line-height: 18px;
}
 .form__list {
   margin: 0;
   padding: 0;
   list-style: none;
}
 @media (min-width: 768px) {
   .form__list {
     display: flex;
     flex-wrap: wrap;
  }
   .form__list--has-wrapper {
     justify-content: space-between;
  }
   .form__list--about {
     flex-direction: column;
  }
}
 @media (min-width: 768px) and (min-width: 1150px) {
   .form__list {
     flex-direction: column;
  }
}
 @media (min-width: 768px) and (min-width: 1150px) {
   .form__list--has-wrapper {
     flex-direction: row;
     justify-content: flex-start;
  }
}
 @media (min-width: 768px) and (min-width: 1150px) {
   .form__list--about {
     width: 700px;
  }
}
 .form__list--has-wrapper .form__item--checkbox {
   width: 48%;
}
 @media (min-width: 1150px) {
   .form__list--has-wrapper .form__item--checkbox {
     width: 30%;
  }
}
 .form__item {
   display: flex;
}
 .form__item--about {
   flex-direction: column;
   margin-bottom: 23px;
}
 .form__item--about:last-child {
   margin-bottom: 0;
}
 @media (min-width: 768px) {
   .form__item--about {
     flex-direction: row;
     align-items: center;
     margin-bottom: 25px;
  }
}
 .form__item--checkbox {
   margin-bottom: 19px;
}
 @media (min-width: 768px) {
   .form__item--checkbox {
     margin-bottom: 22px;
  }
}
 .form__item--checkbox:last-child {
   margin-bottom: 0;
}
 .form__mark {
   margin-top: 23px;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #444;
}
 @media (min-width: 768px) {
   .form__mark {
     margin-top: 0;
     font-size: 17px;
     line-height: 30px;
  }
}
 .form__submit {
   width: 100%;
   margin-top: 31px;
}
 @media (min-width: 768px) {
   .form__submit {
     width: 230px;
     margin-top: 4px;
  }
}
 @media (min-width: 1150px) {
   .form__submit {
     margin-top: 0;
  }
}
 @media (min-width: 768px) {
   .form__footer {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
  }
}
 @media (min-width: 1150px) {
   .form__footer {
     width: 700px;
  }
}
 @media (min-width: 768px) {
   .form__group-wrapper {
     background-color: #f1f1f1;
  }
}
 .form-group {
   position: relative;
   margin: 0;
   margin-top: 33px;
   padding: 0;
   border: none;
}
 @media (min-width: 768px) {
   .form-group {
     margin: 0;
     padding-top: 50px;
     padding-bottom: 33px;
  }
   .form-group--contacts {
     display: flex;
     justify-content: space-between;
     padding-bottom: 20px;
  }
   .form-group--contacts:last-child {
     padding-top: 0;
     padding-bottom: 48px;
  }
   .form-group--about {
     padding-top: 47px;
     padding-bottom: 49px;
  }
   .form-group--grey {
     padding-bottom: 30px;
  }
}
 @media (min-width: 1150px) {
   .form-group {
     justify-content: flex-start;
  }
}
 .form-group--type {
   margin-top: 0;
}
 .form-group--more {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
}
 @media (min-width: 768px) {
   .form-group--more {
     flex-direction: row;
     justify-content: space-between;
     margin-top: 0;
     padding-top: 45px;
  }
}
 @media (min-width: 1150px) {
   .form-group--more {
     justify-content: flex-start;
  }
}
 .form-group:last-of-type {
   margin-bottom: 0;
}
 .form-group__title {
   position: relative;
   display: inline-block;
   margin-bottom: 21px;
   line-height: 16px;
   color: #63d1bb;
   text-transform: uppercase;
}
 @media (min-width: 768px) {
   .form-group__title {
     float: left;
     width: 167px;
     margin-top: 19px;
     text-align: left;
  }
   .form-group__title::after {
     display: none;
  }
}
 @media (min-width: 768px) {
   .form-group__title--type {
     margin-top: 25px;
  }
}
 @media (min-width: 1150px) {
   .form-group__title {
     width: 175px;
     padding-right: 11px;
     text-align: center;
  }
}
 @media (min-width: 768px) {
   .form-group__title--email {
     margin-top: 22px;
     margin-left: 2px;
  }
}
 @media (min-width: 1150px) {
   .form-group__title--email {
     padding-right: 0;
  }
}
 .form-group__title--about {
   margin-bottom: 28px;
}
 .form-group__title::after {
   content: "";
   position: absolute;
   top: 8px;
   left: 62px;
   width: 198px;
   height: 1px;
   background-color: #62d1ba;
}
 .form-group__title--email::after {
   top: 6px;
   left: 82px;
   width: 178px;
}
 @media (min-width: 768px) {
   .form-group__title--contacts {
     margin-top: 18px;
     margin-bottom: 18px;
  }
}
 @media (min-width: 1150px) {
   .form-group__title--contacts {
     padding-right: 20px;
  }
}
 .form-group__icon {
   position: absolute;
   top: 32px;
   right: 8px;
   pointer-events: none;
   opacity: 0.3;
}
 @media (min-width: 768px) {
   .form-group__icon {
     top: 61px;
     right: 26px;
  }
}
 @media (min-width: 1150px) {
   .form-group__icon {
     right: 183px;
  }
}
 .form-group__icon--mail {
   right: 5px;
}
 @media (min-width: 768px) {
   .form-group__icon--mail {
     top: 15px;
     right: 22px;
  }
}
 @media (min-width: 1150px) {
   .form-group__icon--mail {
     right: 180px;
  }
}
 .form-group__label {
   position: relative;
   display: inline-block;
   cursor: pointer;
}
 .form-group__label--radio {
   padding: 14px 30px 10px 63px;
}
 @media (min-width: 768px) {
   .form-group__label--radio {
     padding-top: 22px;
     padding-right: 30px;
     padding-bottom: 35px;
     padding-left: 81px;
  }
}
 .form-group__label--checkbox {
   padding: 14px 30px 10px 63px;
}
 @media (min-width: 768px) {
   .form-group__label--checkbox {
     padding-top: 16px;
     padding-bottom: 20px;
     padding-left: 81px;
  }
}
 .form-group__label--radio::before {
   content: "";
   position: absolute;
   top: 3px;
   left: 0;
   width: 40px;
   height: 40px;
   border: 2px solid #444;
   border-radius: 50%;
}
 .form-group__label--radio::before:hover {
   border-color: #62d1ba;
}
 @media (min-width: 768px) {
   .form-group__label--radio::before {
     top: 7px;
     width: 52px;
     height: 52px;
  }
}
 .form-group__label--radio::after {
   content: "";
   position: absolute;
   top: 15px;
   left: 12px;
   display: none;
   width: 16px;
   height: 16px;
   background-color: #62d1ba;
   border-radius: 50%;
}
 @media (min-width: 768px) {
   .form-group__label--radio::after {
     top: 22px;
     left: 15px;
     width: 22px;
     height: 22px;
  }
}
 .form-group__label--checkbox::before {
   content: "";
   position: absolute;
   top: 3px;
   left: 0;
   width: 40px;
   height: 40px;
   border: 2px solid #444;
}
 @media (min-width: 768px) {
   .form-group__label--checkbox::before {
     width: 54px;
     height: 52px;
  }
}
 .form-group__label--checkbox::after {
   content: "";
   position: absolute;
   top: 16px;
   left: 9px;
   display: none;
   width: 20px;
   height: 10px;
   border-bottom: 2px solid #000;
   border-left: 2px solid #000;
   transform: rotate(-45deg);
}
 @media (min-width: 768px) {
   .form-group__label--checkbox::after {
     top: 15px;
     left: 10px;
     width: 31px;
     height: 17px;
  }
}
 @media (min-width: 768px) {
   .form-group__label {
     margin-right: 25px;
     font-size: 19px;
     line-height: 18px;
  }
}
 .form-group__input {
   cursor: pointer;
}
 .form-group__input--radio {
   position: absolute;
   width: 0;
   height: 0;
   cursor: pointer;
   opacity: 0;
}
 .form-group__input--radio:checked + .form-group__label--radio::after {
   display: block;
}
 .form-group__input--radio:hover + .form-group__label--radio::before {
   border-color: #62d1ba;
}
 .form-group__input--radio:active + .form-group__label--radio::before {
   border-color: rgba(68, 68, 68, 0.3);
}
 .form-group__input--radio:focus + .form-group__label--radio::before {
   border-color: #62d1ba;
}
 .form-group__input--checkbox {
   position: absolute;
   width: 0;
   height: 0;
   cursor: pointer;
   opacity: 0;
}
 .form-group__input--checkbox:checked + .form-group__label--checkbox::after {
   display: block;
}
 .form-group__input--checkbox:hover + .form-group__label--checkbox::before {
   border-color: #62d1ba;
}
 .form-group__input--checkbox:active + .form-group__label--checkbox::before {
   border-color: rgba(68, 68, 68, 0.3);
}
 .form-group__input--checkbox:focus + .form-group__label--checkbox::before {
   border-color: #62d1ba;
}
 .form-group__input--about {
   width: 100%;
   padding: 15px 0;
   border-top: none;
   border-right: none;
   border-bottom: 2px solid #000;
   border-left: none;
}
 .form-group__input--about:hover {
   border-color: #62d1ba;
}
 .form-group__input--about:focus {
   border-color: #62d1ba;
}
 @media (min-width: 768px) {
   .form-group__input--about {
     padding-bottom: 16px;
     padding-left: 15px;
     letter-spacing: 1.3px;
  }
}
 @media (min-width: 1150px) {
   .form-group__input--about {
     padding-left: 19px;
  }
}
 .form-group__input--contacts {
   width: 100%;
   padding-right: 40px;
   padding-bottom: 15px;
   border-top: none;
   border-right: none;
   border-bottom: 2px solid #000;
   border-left: none;
}
 .form-group__input--contacts:hover {
   border-color: #62d1ba;
}
 .form-group__input--contacts:focus {
   border-color: #62d1ba;
}
 .form-group__input--contacts:focus + .form-group__icon {
   opacity: 1;
   fill: #63d1bb;
}
 .form-group__input--contacts:hover + .form-group__icon {
   opacity: 1;
   fill: #62d1ba;
}
 @media (min-width: 768px) {
   .form-group__input--contacts {
     width: 500px;
     padding-top: 11px;
     padding-right: 65px;
     padding-left: 17px;
     letter-spacing: 0.9px;
     background-color: #f1f1f1;
  }
}
 @media (min-width: 1150px) {
   .form-group__input--contacts {
     width: 700px;
  }
}
 .form-group__textarea {
   margin-top: 4px;
   margin-bottom: 16px;
   padding: 15px;
   padding-bottom: 26px;
   border: 2px solid #444;
}
 .form-group__textarea:hover {
   border-color: #62d1ba;
}
 .form-group__textarea:focus {
   border-color: #62d1ba;
}
 @media (min-width: 768px) {
   .form-group__textarea {
     width: 500px;
     padding-top: 12px;
     padding-bottom: 31px;
     letter-spacing: 1px;
  }
}
 @media (min-width: 1150px) {
   .form-group__textarea {
     width: 700px;
  }
}
 .features {
   position: relative;
   display: flex;
}
 .features__title {
   margin: 0;
   margin-top: 33px;
   margin-bottom: 31px;
   font-size: 25px;
   line-height: 30px;
}
 @media (min-width: 768px) {
   .features__title {
     margin-top: 68px;
     margin-bottom: 48px;
     font-size: 43px;
     line-height: 50px;
     text-indent: -5px;
  }
}
 @media (min-width: 1150px) {
   .features__title {
     margin-top: 82px;
     margin-bottom: 48px;
     font-size: 53px;
     line-height: 57px;
  }
}
 .features-list {
   margin: 0;
   padding: 0;
   list-style: none;
   position: relative;
   display: flex;
   flex-direction: column;
}
 @media (min-width: 768px) {
   .features-list {
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     font-size: 20px;
     line-height: 22px;
  }
}
 @media (min-width: 1150px) {
   .features-list {
     width: 700px;
  }
}
 .features-list__item {
   position: relative;
   display: flex;
   flex-direction: column;
   margin-bottom: 28px;
   padding-top: 55px;
}
 @media (min-width: 768px) {
   .features-list__item {
     width: 50%;
     margin-bottom: 56px;
  }
}
 .features-list__item::before {
   content: "";
   position: absolute;
   background-repeat: no-repeat;
}
 .features-list__item--ecology::before {
   top: 1px;
   left: 8px;
   width: 32px;
   height: 37px;
   background-image: url("../img/icon-feature-flower.svg");
}
 @media (min-width: 768px) {
   .features-list__item--style {
     order: 2;
  }
}
 .features-list__item--style::before {
   top: 2px;
   width: 47px;
   height: 27px;
   background-image: url("../img/icon-feature-money.svg");
}
 @media (min-width: 768px) {
   .features-list__item--like {
     order: 4;
  }
}
 .features-list__item--like::before {
   top: 6px;
   left: 7px;
   width: 34px;
   height: 30px;
   background-image: url("../img/icon-feature-heart.svg");
}
 @media (min-width: 768px) {
   .features-list__item--handmade {
     order: 1;
     padding-right: 40px;
  }
}
 .features-list__item--handmade::before {
   top: 4px;
   left: 4px;
   width: 34px;
   height: 35px;
   background-image: url("../img/icon-feature-ball.svg");
}
 @media (min-width: 768px) {
   .features-list__item--native {
     order: 3;
  }
}
 .features-list__item--native::before {
   top: 5px;
   left: -6px;
   width: 55px;
   height: 23px;
   background-image: url("../img/icon-feature-rocket.svg");
}
 @media (min-width: 768px) {
   .features-list__item--gift {
     order: 5;
  }
}
 .features-list__item--gift::before {
   top: 3px;
   left: 3px;
   width: 33px;
   height: 32px;
   background-image: url("../img/icon-feature-gift.svg");
}
 .copyright {
   display: flex;
   align-items: center;
   min-height: 69px;
   padding-right: 39px;
   padding-left: 39px;
   font-size: 19px;
   line-height: 18px;
}
 @media (min-width: 768px) {
   .copyright {
     margin-left: auto;
     padding: 0;
     padding-top: 13px;
  }
}
 .copyright__text {
   margin: 0;
   margin-right: 27px;
}
 @media (min-width: 768px) {
   .copyright__text {
     margin: 0;
     margin-right: 30px;
  }
}
 .copyright__link {
   display: flex;
   align-items: center;
}
 .copyright__link:active {
   opacity: 0.3;
}
 .copyright__icon {
   fill: #63d1bb;
}
 .copyright__icon:hover {
   fill: #46c1ae;
}
 .container {
   position: relative;
   max-width: 260px;
   margin: 0 auto;
}
 @media (min-width: 768px) {
   .container {
     max-width: 668px;
  }
}
 @media (min-width: 1150px) {
   .container {
     max-width: 1050px;
  }
}
 .contacts {
   position: relative;
   margin-bottom: 40px;
}
 @media (min-width: 768px) {
   .contacts {
     margin-bottom: 57px;
  }
}
 @media (min-width: 1150px) {
   .contacts {
     max-width: 1150px;
     margin: auto;
     margin-bottom: 104px;
  }
}
 .contacts__title {
   margin: 0;
   margin-top: 41px;
   margin-bottom: 25px;
   font-size: 18px;
   line-height: 30px;
}
 @media (min-width: 768px) {
   .contacts__title {
     margin: 0;
     margin-bottom: 48px;
     padding-top: 78px;
     font-size: 43px;
     line-height: 50px;
     text-indent: -5px;
  }
   .contacts__title::before {
     content: url("../img/icon-flag.svg");
     position: absolute;
     top: 62px;
     right: -5px;
     width: 50px;
     height: 85px;
  }
}
 @media (min-width: 1150px) {
   .contacts__title {
     max-width: 500px;
     padding-top: 164px;
     padding-left: 174px;
     font-size: 53px;
     line-height: 57px;
  }
   .contacts__title::before {
     top: 157px;
     left: 68px;
  }
}
 .contacts__map {
   height: 457px;
}
 @media (min-width: 1150px) {
   .contacts__map {
     width: 525px;
  }
}
 .contacts__map-wrapper {
   margin-bottom: 42px;
}
 @media (min-width: 768px) {
   .contacts__map-wrapper {
     margin-bottom: 55px;
  }
}
 @media (min-width: 1150px) {
   .contacts__map-wrapper {
     position: absolute;
     top: 95px;
     right: 51px;
  }
}
 .contacts__button {
   width: 81%;
   margin: auto;
}
 @media (min-width: 768px) {
   .contacts__button {
     width: 230px;
  }
}
 @media (min-width: 1150px) {
   .contacts__button {
     margin-top: 79px;
     margin-left: 225px;
  }
}
 .contacts-table {
   display: flex;
   flex-direction: column;
   margin-bottom: 36px;
   font-weight: 400;
   font-size: 15px;
   line-height: 30px;
   color: #444;
}
 @media (min-width: 768px) {
   .contacts-table {
     margin-bottom: 54px;
     font-size: 17px;
  }
}
 @media (min-width: 1150px) {
   .contacts-table {
     padding-left: 173px;
  }
}
 @media (min-width: 768px) {
   .contacts__tbody {
     display: flex;
     flex-wrap: wrap;
  }
}
 @media (min-width: 1150px) {
   .contacts__tbody {
     flex-direction: column;
  }
}
 .contacts-table__row {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 28px;
}
 .contacts-table__row:last-child {
   margin-bottom: 0;
}
 @media (min-width: 768px) {
   .contacts-table__row {
     margin-right: 51px;
  }
   .contacts-table__row:last-of-type {
     margin-right: 0;
  }
}
 .contacts-table__cell-name {
   flex-shrink: 0;
   width: 29%;
}
 @media (min-width: 768px) {
   .contacts-table__cell-name {
     width: auto;
     padding-right: 22px;
  }
}
 @media (min-width: 1150px) {
   .contacts-table__cell-name {
     padding-right: 24px;
  }
}
 .contacts-table__link {
   padding-bottom: 4px;
   border-bottom: 1px solid #46c1ae;
}
 .contacts-table__link:hover {
   color: #46c1ae;
}
 .contacts-table__link:active {
   color: #46c1ae;
   opacity: 0.3;
}
 @media (min-width: 768px) {
   .contacts-table__link {
     padding-bottom: 2px;
  }
}
 @media (min-width: 1150px) {
   .contacts-table__link {
     padding-bottom: 4px;
  }
}
 .categories {
   position: relative;
   font-size: 19px;
   line-height: 24px;
}
 @media (min-width: 768px) {
   .categories {
     font-size: 20px;
     line-height: 30px;
     background-color: #f9f9f9;
  }
   .categories::after {
     content: "";
     position: absolute;
     top: 87%;
     display: block;
     width: 100%;
     height: 24px;
     background-image: url("../img/bg-zigzag-fill.svg");
     background-position-x: center;
     background-size: auto 22.8px;
  }
}
 @media (min-width: 1150px) {
   .categories::after {
     top: 82%;
     height: 34px;
     background-size: 1250px;
  }
}
 .categories__list {
   margin: 0;
   padding: 0;
   list-style: none;
   position: relative;
}
 @media (max-width: 768px) {
   .categories__list {
     background: linear-gradient(#63d1bb 50%, #56c3b2 50%);
  }
}
 @media (min-width: 768px) {
   .categories__list {
     display: flex;
     width: 668px;
     margin: 0 auto;
  }
}
 @media (min-width: 1150px) {
   .categories__list {
     width: 1050px;
  }
}
 .categories__link {
   overflow: hidden;
   position: relative;
   display: block;
   padding: 27px 120px 29px 30px;
   text-align: left;
   color: #fff;
}
 @media (min-width: 768px) {
   .categories__link {
     padding-top: 29px;
     padding-bottom: 35px;
     padding-left: 36px;
  }
}
 @media (min-width: 1150px) {
   .categories__link {
     padding-right: 310px;
  }
}
 .categories__link--toy {
   height: 100%;
   background-color: #56c3b2;
}
 .categories__link--interior {
   background-color: #63d1bb;
}
 .categories__link::after {
   content: "";
   position: absolute;
   opacity: 0.5;
}
 .categories__link:hover::after {
   opacity: 0.7;
}
 .categories__link:active {
   color: rgba(255, 255, 255, 0.3);
}
 .categories__link:active::after {
   opacity: 0.3;
}
 .categories__link:hover {
   transform: translateY(-5px);
   transition: transform 250ms;
}
 .categories__link--interior::after {
   top: 24px;
   right: 36px;
   width: 40px;
   height: 62px;
   background-image: url("../img/icon-interior.svg");
}
 @media (min-width: 768px) {
   .categories__link--interior::after {
     top: 30px;
  }
}
 .categories__link--toy::after {
   top: 22px;
   right: 28px;
   width: 60px;
   height: 60px;
   background-image: url("../img/icon-toy.svg");
}
 @media (min-width: 768px) {
   .categories__link--toy::after {
     top: 30px;
     right: 35px;
  }
}
 @media (min-width: 768px) {
   .categories__item {
     width: 50%;
  }
}
 .catalog {
   background-color: #fff;
}
 @media (min-width: 1150px) {
   .catalog {
     padding-top: 45px;
  }
}
 .catalog__inner {
   width: 320px;
   margin: 0 auto;
   padding: 30px 30px 0;
}
 .catalog__list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-direction: column;
   margin-top: 30px;
}
 @media (min-width: 768px) {
   .catalog__list {
     margin-top: 67px;
  }
}
 @media (min-width: 1150px) {
   .catalog__list {
     flex-direction: row;
     flex-wrap: wrap;
  }
}
 .catalog-item__title {
   margin: 0;
   margin-top: 17px;
   font-size: 17px;
   line-height: 24px;
}
 @media (min-width: 768px) {
   .catalog-item__title {
     margin-top: 16px;
     font-size: 20px;
  }
}
 .catalog-item__description {
   margin: 0;
   margin-top: 5px;
   margin-bottom: 40px;
   font-weight: 400;
   font-size: 13px;
   line-height: 32px;
   color: #444;
}
 @media (min-width: 768px) {
   .catalog-item__description {
     margin-top: 5px;
     font-size: 15px;
     line-height: 30px;
  }
}
 @media (min-width: 1150px) {
   .catalog-item__description {
     margin-bottom: 0;
     padding-bottom: 10px;
  }
}
 .catalog-item__price {
   position: relative;
   font-size: 15px;
   line-height: 24px;
}
 @media (min-width: 768px) {
   .catalog-item__price {
     margin-left: 5px;
     font-size: 17px;
  }
}
 @media (min-width: 1150px) {
   .catalog-item__price {
     margin: 0;
  }
}
 .catalog-item {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   border: 1px solid #ececec;
}
 .catalog-item:hover .catalog-item__info {
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
 .catalog-item:active .catalog-item__info {
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 768px) {
   .catalog-item {
     flex-direction: row;
     min-height: 333px;
     margin-bottom: 53px;
  }
}
 @media (min-width: 1150px) {
   .catalog-item {
     flex-direction: column;
     width: 316px;
     margin-right: 50px;
     margin-bottom: 57px;
  }
   .catalog-item:last-child {
     margin-right: 0;
  }
}
 .catalog-item__info {
   padding: 9px 27px 28px;
}
 @media (min-width: 768px) {
   .catalog-item__info {
     display: flex;
     flex-direction: column;
     width: 100%;
     padding-bottom: 25px;
  }
}
 @media (min-width: 1150px) {
   .catalog-item__info {
     min-height: 197px;
     padding-bottom: 27px;
  }
}
 .catalog-item__link:hover {
   color: rgba(0, 0, 0, 0.6);
}
 .catalog-item__link:active {
   color: rgba(0, 0, 0, 0.3);
}
 @media (min-width: 768px) {
   .catalog-item__link--image {
     flex-shrink: 0;
     width: 333px;
  }
}
 @media (min-width: 1150px) {
   .catalog-item__link--image {
     width: auto;
     height: 462px;
  }
}
 .catalog-item__footer {
   display: flex;
   justify-content: space-between;
}
 @media (min-width: 768px) {
   .catalog-item__footer {
     margin-top: auto;
     padding-top: 22px;
     border-top: 1px solid #ececec;
  }
}
 @media (min-width: 1150px) {
   .catalog-item__footer {
     padding-top: 23px;
  }
}
@media (min-width: 768px) {
   .catalog-item__cart-link {
     margin-right: 5px;
  }
}
 .catalog-item__icon {
   opacity: 0.2;
}
 .catalog-item__icon:hover {
   opacity: 1;
   fill: #63d1bb;
}
 .catalog-item__icon:active {
   opacity: 0.3;
}


/*  item-page*/

.item-page {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.item-page__title {
   margin: 0;
   font-size: 27px;
   line-height: 30px;
   text-align: center;
   color: #010000;
}
 
.item-page__breadcrumbs {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-page__breadcrumbs li {
  position: relative;
  padding-left: 24px;
  margin-right: 10px;
}

.item-page__breadcrumbs li::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 10px;


  width: 8px;
  height: 8px;

  background-color: #000;
  transform: rotate(45deg);
}

.item-page__breadcrumbs li  {
  font-weight: 400;
  font-size: 14px;
}

.item-page__breadcrumbs li:hover  {
  font-weight: 700;
  text-decoration: underline;
}
.item-page__breadcrumbs li:last-child:hover  {
  font-weight: 400;
  text-decoration: none;
}


.breadcrumbs-current {
  color: #63d1bb;
}

.item-page__columns {
  display: flex;
  justify-content: space-between;
}

.product-photos {
  width: 460px;
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-info {
  width: 430px;
}

.special__tag--available {
  margin-left: 0;
}

.product-article {
  margin: 3px 0 10px 0; 
  text-align: right;
  color: #aeaeae;
  font-size: 16px;
}

.product-text {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.product-price {
  font-size: 18px;
}

.reviews--item-page {
  background-position: 0;
}

.leave-review {
  padding: 10px 0;
}

.leave-review__title {
  margin: 4px 0 5px;
  font-size: 36px;
  line-height: 40px;
}

@media (min-width: 768px) {
   .item-page__title {
     font-size: 43px;
     line-height: 50px;
  }

}
 @media (min-width: 1150px) {
   .item-page__title {
     width: 70%;
     margin: 0 auto;
     margin-top: 15px;
     margin-bottom: 15px;
     font-size: 53px;
     line-height: 57px;
  }

  .item-page__breadcrumbs {
    margin-bottom: 10px;
  }

  .item-page__columns {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}