@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  font-display: swap;
  src: local("Open Sans");

}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;

  font-display: swap;
  src: local("Open Sans");
 
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

$bp-tablet: 768px;
$bp-desktop: 1150px;
$link_hover: rgba(0, 0, 0, 0.6);
$link_active: rgba(0, 0, 0, 0.3);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  padding: 16px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;

  &:hover {
    color: #ffffff;

    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.page-footer {
  background-color: #fafafa;
}

.page-footer__logo-wrapper {
  display: none;

  @media (min-width: $bp-tablet) {
    display: block;
  }
}


.page-footer__inner {
  @media (min-width: $bp-tablet) {
    display: flex;
    align-items: center;
    padding: 33px 0 41px;
  }
}

.page-footer__icon {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header {
  position: relative;

  background-color: #ffffff;

  @media (min-width: $bp-tablet) {
    background: linear-gradient(white 88px, #ececec 2px, transparent 90px);
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: 100% 176px;
  }
}

.page-header__inner {
  @media (min-width: $bp-tablet) {
    display: flex;
  }
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;

  @media (min-width: $bp-tablet) {
    order: 1;
    width: 320px;
    height: 88px;

    background-color: #ffffff;
  }

  @media (min-width: $bp-desktop) {
    order: 2;
    width: 175px;
  }
}

.page-header__title-wrapper {
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 77px;
  padding-left: 30px;

  background-color: #fafafa;

  @media (min-width: $bp-tablet) {
    padding-top: 36px;
    padding-bottom: 92px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: auto 22.7px;
  }

  @media (min-width: $bp-desktop) {
    padding-bottom: 118px;

    background-size: auto 34px;
  }

  &--index {
    padding-bottom: 120px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px 373px;
    }


    @media (min-width: $bp-tablet) {
      padding-top: 94px;
      padding-bottom: 372px;

      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: 50% -60px;
      background-size: auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px 746px;
      }
    }

    @media (min-width: $bp-desktop) {
      padding-top: 94px;
      padding-bottom: 359px;

      background-image: url("../img/hero-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }
}

.page-header__title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #010000;

  @media (min-width: $bp-tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $bp-desktop) {
    width: 70%;
    margin: 0 auto;

    font-size: 53px;
    line-height: 57px;
  }
}

.page-header__logo {
  img {
    pointer-events: none;
  }

  &:hover[href] {
    img {
      opacity: 0.6;
    }
  }

  &:active[href] {
    img {
      opacity: 0.3;
    }
  }

  @media (min-width: $bp-tablet) {
    margin-right: auto;
  }
}


.reviews-nav {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $bp-tablet) {
    position: absolute;
    right: 7px;
    bottom: 79px;

    width: 167px;
  }
}

.reviews-nav__button {
  width: 50%;
  margin-top: 31px;
  padding: 10px 20px;

  background-color: transparent;
  border: 1px solid #ececec;
  cursor: pointer;

  @media (min-width: $bp-tablet) {
    margin: 0;

    border: none;
  }
}

.reviews {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $bp-tablet) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 26px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: $bp-desktop) {
    max-width: 1150px;
    margin: auto;
    padding-bottom: 48px;

    background-position: 49px 34px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }
}

.reviews__quotation {
  margin: 0;

  @media (min-width: $bp-tablet) {
    margin-bottom: 113px;
  }

  @media (min-width: $bp-desktop) {
    margin-right: 105px;
    margin-left: 175px;
  }
}

.reviews__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 24px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: $bp-tablet) {
    margin-top: 104px;

    font-size: 43px;
    line-height: 50px;
    text-indent: -5px;
  }

  @media (min-width: $bp-desktop) {
    margin-left: 175px;

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 27px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-top: 50px;
    margin-bottom: 57px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 38px;

    line-height: 30px;
  }
}

.reviews__author {
  display: block;

  font-style: normal;

  @media (min-width: $bp-tablet) {
    width: 50%;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 2px;

  line-height: 24px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 4px;

    font-size: 18px;
  }

  @media (min-width: $bp-desktop) {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -1.2px;
  }
}

.reviews__author-nick {
  font-weight: 400;
  line-height: 30px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $bp-desktop) {
    letter-spacing: -1.6px;
  }
}

.reviews__write {
  width: 100%;
  margin-bottom: 45px;

  @media (min-width: $bp-tablet) {
    position: absolute;
    top: 106px;
    right: 0;

    width: 175px;
  }

  @media (min-width: $bp-desktop) {
    top: 113px;
  }
}

.reviews-nav__arrow {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials {
  margin: 0;
  padding: 0;
  list-style:none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-right: 62px;
  padding-bottom: 23px;
  padding-left: 56px;

  border-bottom: 1px solid #ececec;

  @media (min-width: $bp-tablet) {
    width: 140px;
    margin: 0;
    margin-left: 160px;
    padding: 0;
    padding-top: 14px;

    border: none;
  }

  @media (min-width: $bp-desktop) {
    margin-left: 350px;
  }
}

.socials__icon {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}


.special-table {
  width: 100%;
  margin-bottom: 27px;

  border-collapse: collapse;
  font-weight: normal;
  font-size: 15px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 109px;
  }
}

.special-table__row {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;

  border-bottom: 1px solid #f1f1f1;
}

.special-table__cell {
  padding: 0;
}

.special-table__cell--name {
  width: 38%;

  @media (min-width: $bp-tablet) {
    width: 32%;
  }
}

.special {
  position: relative;

  margin-top: 27px;
  padding-bottom: 36px;

  @media (min-width: $bp-tablet) {
    margin-top: 41px;
    padding-bottom: 50px;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 61px;
    padding-bottom: 73px;
  }
}

.special__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: $bp-tablet) {
    font-size: 43px;
    line-height: 50px;
    text-indent: -4px;
  }

  @media (min-width: $bp-desktop) {
    z-index: 1;

    font-size: 53px;
    line-height: 57px;
    text-indent: 0;
  }
}

.special__tag {
  display: block;
  margin-top: 5px;

  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: $bp-tablet) {
    width: 75px;
    margin-right: 26px;

    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $bp-desktop) {
    margin-right: 50px;
    margin-left: 44px;
  }
}

.special__description {
  margin: 0;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-bottom: 34px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 45px;
  }
}

.special__price {
  margin: 0;
  margin-bottom: 25px;

  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-bottom: 34px;

    font-size: 20px;
  }
}

.special__button {
  width: 100%;
}


.special__header {
  @media (min-width: $bp-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $bp-desktop) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 58px;
  }
}

.special__info {
  margin-top: 23px;

  @media (min-width: $bp-tablet) {
    width: 300px;
    margin-top: 49px;
  }

  @media (min-width: $bp-desktop) {
    margin-left: 175px;
  }
}

.special__image-wrapper {
  margin-bottom: 25px;

  @media (min-width: $bp-tablet) {
    position: absolute;
    top: 107px;
    left: 50%;
  }

  @media (min-width: $bp-desktop) {
    top: 5px;
  }
}

.special__footer {
  @media (min-width: $bp-tablet) {
    width: 292px;
  }

  @media (min-width: $bp-desktop) {
    margin-left: 175px;
  }
}

.toggle {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 2;

  width: 20px;
  height: 14px;
  margin: 0;
  padding: 0;

  background: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -6px;

    width: 28px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

.zig-zag::after {
  content: "";
  position: absolute;
  top: 100%;

  display: block;
  width: 100%;
  height: 7px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 8px 0;
  background-size: 320px 7px;

  @media (min-width: $bp-tablet) {
    height: 17px;

    background-position: 19px 0;
    background-size: 768px 17px;
  }

  @media (min-width: $bp-desktop) {
    width: 1050px;
    height: 23px;

    background-position: 24px 0;
    background-size: 1050px  23px;
    transform: translateX(5%);
  }

  @media (min-width: 1200px) {
    left: 50%;

    transform: translateX(-50%);
  }
}

.modal {
  &--opened .modal__box {
    display: flex;
  }

  &--opened .modal__fade {
    top: 0;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-indent: -2px;

  @media (min-width: $bp-tablet) {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__legend {
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444444;

  @media (min-width: $bp-tablet) {
    font-size: 17px;
  }
}

.modal__label {
  position: relative;

  display: inline-block;
  min-width: 82px;
  min-height: 52px;
  padding: 15px 5px;

  line-height: 16px;
  text-align: center;
  color: #444444;

  border: 2px solid rgba(68, 68, 68, 0.1);
  cursor: pointer;

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:active {
    border: 2px solid #62d1ba;
  }

  @media (min-width: $bp-tablet) {
    min-width: 112px;
  }
}

.modal__form-group {
  width: 100%;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  border: none;
}

.modal__submit {
  width: 100%;

  color: #ffffff;

  background-color: #63d1bb;
  border: none;
}

.modal__input {
  position: absolute;

  width: 0;
  height: 0;

  cursor: pointer;
  opacity: 0;

  &:checked + .modal__label {
    border-color: #63d1bb;
  }
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 19px;

  @media (min-width: $bp-tablet) {
    width: 350px;
    margin: 0 auto;
  }
}


.modal__size-box {
  display: inline-block;
  margin-right: 1px;

  &:last-child {
    margin-right: 0;
  }
}

.modal__inner {
  display: flex;
  justify-content: space-between;
}

.modal__fade {
  position: fixed;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.9);
}

.modal__box {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 30px;

  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  transform: translate(-50%, -50%);

  @media (min-width: 330px) {
    width: 320px;
  }

  @media (min-width: $bp-tablet) {
    width: 566px;
  }
}


.manufacturing {
  margin-bottom: 60px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 63px;
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 102px;
  }
}

.manufacturing__inner {
  position: relative;

  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $bp-desktop) {
    align-items: flex-end;
  }
}

.manufacturing__title-wrapper {
  position: relative;

  padding: 7px 30px 9px 90px;

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 32px;

    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $bp-tablet) {
    padding-left: 105px;

    text-indent: 1px;

    &::before {
      top: 37px;
      left: 41px;
    }
  }

  @media (min-width: $bp-desktop) {
    max-width: 350px;
    padding: 0;
    padding-top: 93px;
    padding-right: 100px;
    padding-left: 61px;

    &::before {
      top: 44px;
      left: 63px;
    }
  }
}

.manufacturing__title {
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $bp-tablet) {
    margin: 0;
    margin-top: 31px;

    font-size: 20px;
  }

  @media (min-width: $bp-desktop) {
    margin: 0;
  }
}

.manufacturing__text {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-top: 8px;
    margin-bottom: 37px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 14px;
    margin-bottom: 47px;
  }
}

.manufacturing__player-container {
  position: relative;

  border: 1px solid #ececec;

  @media (min-width: $bp-tablet) {
    order: -1;
    min-height: 455px;
  }

  @media (min-width: $bp-desktop) {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 682px;
  }
}

.manufacturing__descriprion {
  padding: 13px 33px 32px;

  @media (min-width: $bp-tablet) {
    padding-right: 41px;
    padding-bottom: 44px;
    padding-left: 39px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 350px;
    padding-top: 19px;
    padding-right: 57px;
    padding-bottom: 62px;
    padding-left: 63px;

    font-size: 15px;
    line-height: 30px;
  }
}

.manufacturing__button {
  width: 100%;
}

.manufacturing__player-button {
  position: absolute;
  top: 50%;
  left: 50%;

  background: none;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);

    transition: 250ms;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.main-nav {
  position: relative;

  line-height: 24px;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $bp-desktop) {
    max-width: 1050px;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  border-top: 1px solid #ececec;

  &--user {
    border-top: none;
  }

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    max-width: 340px;

    border: none;

    &--user {
      order: 2;
      max-width: 350px;

      background-color: #ffffff;
    }
  }

  @media (min-width: $bp-desktop) {
    order: 1;
    max-width: 400px;

    &--user {
      order: 3;
      margin-right: 3px;
    }
  }
}

.main-nav__item {
  border-bottom: 1px solid #ececec;

  @media (min-width: $bp-tablet) {
    display: flex;
    align-items: center;
    min-height: 60px;

    border: none;
  }

  &--catalog {
    @media (min-width: $bp-desktop) {
      border-right: 1px solid #ececec;
    }
  }
}

.main-nav__link {
  position: relative;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;

  &:hover[href] {
    color: $link-hover;
  }

  &:active[href] {
    opacity: 0.3;
  }

  &--search:hover .main-nav__search-icon {
    opacity: 1;

    fill: #63d1bb;
  }

  &--cart:hover .main-nav__cart-icon {
    opacity: 1;

    fill: #63d1bb;
  }

  @media (min-width: $bp-tablet) {
    width: 167px;
    padding: 0;

    font-size: 15px;

    &--search {
      width: 82px;
      min-height: 88px;

      font-size: 0;

      box-shadow: 0 0 1px #ececec;
    }

    &--cart {
      width: 264px;

      font-size: 17px;
      text-align: right;
    }
  }

  @media (min-width: $bp-desktop) {
    font-size: 17px;

    &--search {
      font-size: 0;
    }

    &--catalog {
      width: 184px;
    }

    &--form {
      width: auto;
      padding-left: 35px;
    }
  }
}

.main-nav__search-icon {
  position: absolute;
  top: 31px;
  left: 32px;

  opacity: 0.2;

  pointer-events: none;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $bp-tablet) {
    top: 37px;
  }
}

.main-nav__cart-icon {
  position: absolute;
  top: 29px;
  left: 31px;

  opacity: 0.2;

  pointer-events: none;

  @media (min-width: $bp-tablet) {
    top: 2px;
  }
}

.main-nav__promo-list {
  display: none;

  @media (min-width: $bp-tablet) {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    order: 4;
  }

  @media (min-width: $bp-desktop) {
    width: 100%;
  }
}

.main-nav__promo-item {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media (min-width: $bp-desktop) {
    min-width: 178px;

    &--new {
      order: 1;
    }

    &--sell {
      justify-content: center;
      order: 2;
    }

    &--delivery {
      order: 3;
      margin-left: auto;
    }
  }
}

.main-nav__promo-link {
  display: none;

  @media (min-width: $bp-tablet) {
    font-weight: 400;
    font-size: 15px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--delivery {
      display: block;
    }
  }

  @media (min-width: $bp-desktop) {
    display: block;

    font-weight: 700;

    &--delivery {
      font-weight: 400;
    }

    &--new {
      letter-spacing: 0.2px;
    }
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8%;
  right: -1px;

  width: 20px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 5px 0 0  #000000, 0 11px 0 0  #000000;
  transform: none;
}

.main-nav--closed .main-nav__toggle::after {
  content: none;
}

.main-nav--closed .main-nav__list {
  @media (max-width: $bp-tablet - 1) {
    display: none;
  }
}

.main-nav--closed .main-nav__list--user {
  @media (max-width: $bp-tablet - 1) {
    display: none;
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.knitting {
  margin-top: 21px;
  margin-bottom: 57px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 50px;
  }
}


.knitting__description {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-top: 60px;
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $bp-desktop) {
    width: 700px;
    margin: 0 auto;
    margin-top: 105px;
  }
}

.form {
  line-height: 18px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $bp-desktop) {
      flex-direction: column;
    }

    &--has-wrapper {
      justify-content: space-between;

      @media (min-width: $bp-desktop) {
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    &--about {
      flex-direction: column;

      @media (min-width: $bp-desktop) {
        width: 700px;
      }
    }
  }
}

.form__list--has-wrapper .form__item--checkbox {
  width: 48%;

  @media (min-width: $bp-desktop) {
    width: 30%;
  }
}

.form__item {
  display: flex;

  &--about {
    flex-direction: column;
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 25px;
    }
  }

  &--checkbox {
    margin-bottom: 19px;

    @media (min-width: $bp-tablet) {
      margin-bottom: 22px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__mark {
  margin-top: 23px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-top: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__submit {
  width: 100%;
  margin-top: 31px;

  @media (min-width: $bp-tablet) {
    width: 230px;
    margin-top: 4px;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 0;
  }
}

.form__footer {
  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  @media (min-width: $bp-desktop) {
    width: 700px;
  }
}

.form__group-wrapper {
  @media (min-width: $bp-tablet) {
    background-color: #f1f1f1;
  }
}

.form-group {
  position: relative;

  margin: 0;
  margin-top: 33px;
  padding: 0;

  border: none;

  @media (min-width: $bp-tablet) {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 33px;

    &--contacts {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;

      &:last-child {
        padding-top: 0;
        padding-bottom: 48px;
      }
    }

    &--about {
      padding-top: 47px;
      padding-bottom: 49px;
    }

    &--grey {
      padding-bottom: 30px;
    }
  }

  @media (min-width: $bp-desktop) {
    justify-content: flex-start;
  }

  &--type {
    margin-top: 0;
  }

  &--more {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
      padding-top: 45px;
    }

    @media (min-width: $bp-desktop) {
      justify-content: flex-start;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-group__title {
  position: relative;

  display: inline-block;
  margin-bottom: 21px;

  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: $bp-tablet) {
    float: left;
    width: 167px;
    margin-top: 19px;

    text-align: left;

    &::after {
      display: none;
    }
  }

  &--type {
    @media (min-width: $bp-tablet) {
      margin-top: 25px;
    }
  }

  @media (min-width: $bp-desktop) {
    width: 175px;
    padding-right: 11px;

    text-align: center;
  }

  &--email {
    @media (min-width: $bp-tablet) {
      margin-top: 22px;
      margin-left: 2px;
    }

    @media (min-width: $bp-desktop) {
      padding-right: 0;
    }
  }

  &--about {
    margin-bottom: 28px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 62px;

    width: 198px;
    height: 1px;

    background-color: #62d1ba;
  }

  &--email::after {
    top: 6px;
    left: 82px;

    width: 178px;
  }

  &--contacts {
    @media (min-width: $bp-tablet) {
      margin-top: 18px;
      margin-bottom: 18px;
    }

    @media (min-width: $bp-desktop) {
      padding-right: 20px;
    }
  }
}

.form-group__icon {
  position: absolute;
  top: 32px;
  right: 8px;
  pointer-events: none;

  opacity: 0.3;

  @media (min-width: $bp-tablet) {
    top: 61px;
    right: 26px;
  }

  @media (min-width: $bp-desktop) {
    right: 183px;
  }

  &--mail {
    right: 5px;

    @media (min-width: $bp-tablet) {
      top: 15px;
      right: 22px;
    }

    @media (min-width: $bp-desktop) {
      right: 180px;
    }
  }
}

.form-group__label {
  position: relative;

  display: inline-block;

  cursor: pointer;

  &--radio {
    padding: 14px 30px 10px 63px;

    @media (min-width: $bp-tablet) {
      padding-top: 22px;
      padding-right: 30px;
      padding-bottom: 35px;
      padding-left: 81px;
    }
  }

  &--checkbox {
    padding: 14px 30px 10px 63px;

    @media (min-width: $bp-tablet) {
      padding-top: 16px;
      padding-bottom: 20px;
      padding-left: 81px;
    }
  }

  &--radio::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid #444444;
    border-radius: 50%;

    &:hover {
      border-color: #62d1ba;
    }

    @media (min-width: $bp-tablet) {
      top: 7px;

      width: 52px;
      height: 52px;
    }
  }

  &--radio::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;

    display: none;
    width: 16px;
    height: 16px;

    background-color: #62d1ba;
    border-radius: 50%;

    @media (min-width: $bp-tablet) {
      top: 22px;
      left: 15px;

      width: 22px;
      height: 22px;
    }
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid #444444;

    @media (min-width: $bp-tablet) {
      width: 54px;
      height: 52px;
    }
  }

  &--checkbox::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 9px;

    display: none;
    width: 20px;
    height: 10px;

    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    transform: rotate(-45deg);

    @media (min-width: $bp-tablet) {
      top: 15px;
      left: 10px;

      width: 31px;
      height: 17px;
    }
  }

  @media (min-width: $bp-tablet) {
    margin-right: 25px;

    font-size: 19px;
    line-height: 18px;
  }
}

.form-group__input {
  cursor: pointer;

  &--radio {
    position: absolute;

    width: 0;
    height: 0;

    cursor: pointer;
    opacity: 0;

    &:checked + .form-group__label--radio::after {
      display: block;
    }

    &:hover + .form-group__label--radio::before {
      border-color: #62d1ba;
    }

    &:active + .form-group__label--radio::before {
      border-color: rgba(68, 68, 68, 0.3);
    }

    &:focus + .form-group__label--radio::before {
      border-color: #62d1ba;
    }
  }

  &--checkbox {
    position: absolute;

    width: 0;
    height: 0;

    cursor: pointer;
    opacity: 0;

    &:checked + .form-group__label--checkbox::after {
      display: block;
    }

    &:hover + .form-group__label--checkbox::before {
      border-color: #62d1ba;
    }

    &:active + .form-group__label--checkbox::before {
      border-color: rgba(68, 68, 68, 0.3);
    }

    &:focus + .form-group__label--checkbox::before {
      border-color: #62d1ba;
    }
  }

  &--about {
    width: 100%;
    padding: 15px 0;

    border-top: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    border-left: none;

    &:hover {
      border-color: #62d1ba;
    }

    &:focus {
      border-color: #62d1ba;
    }

    @media (min-width: $bp-tablet) {
      padding-bottom: 16px;
      padding-left: 15px;

      letter-spacing: 1.3px;
    }

    @media (min-width: $bp-desktop) {
      padding-left: 19px;
    }
  }

  &--contacts {
    width: 100%;
    padding-right: 40px;
    padding-bottom: 15px;

    border-top: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    border-left: none;

    &:hover {
      border-color: #62d1ba;
    }

    &:focus {
      border-color: #62d1ba;
    }

    &:focus + .form-group__icon {
      opacity: 1;

      fill: #63d1bb;
    }

    &:hover + .form-group__icon {
      opacity: 1;

      fill: #62d1ba;
    }

    @media (min-width: $bp-tablet) {
      width: 500px;
      padding-top: 11px;
      padding-right: 65px;
      padding-left: 17px;

      letter-spacing: 0.9px;

      background-color: #f1f1f1;
    }

    @media (min-width: $bp-desktop) {
      width: 700px;
    }
  }
}

.form-group__textarea {
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 15px;
  padding-bottom: 26px;

  border: 2px solid #444444;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }

  @media (min-width: $bp-tablet) {
    width: 500px;
    padding-top: 12px;
    padding-bottom: 31px;

    letter-spacing: 1px;
  }

  @media (min-width: $bp-desktop) {
    width: 700px;
  }
}

.features {
  position: relative;

  display: flex;
}

.features__title {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 31px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: $bp-tablet) {
    margin-top: 68px;
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;
    text-indent: -5px;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 82px;
    margin-bottom: 48px;

    font-size: 53px;
    line-height: 57px;
  }
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $bp-desktop) {
    width: 700px;
  }
}

.features-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  padding-top: 55px;

  @media (min-width: $bp-tablet) {
    width: 50%;
    margin-bottom: 56px;
  }

  &::before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }

  &--ecology {
    &::before {
      top: 1px;
      left: 8px;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-feature-flower.svg");
    }
  }

  &--style {
    @media (min-width: $bp-tablet) {
      order: 2;
    }

    &::before {
      top: 2px;

      width: 47px;
      height: 27px;

      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--like {
    @media (min-width: $bp-tablet) {
      order: 4;
    }

    &::before {
      top: 6px;
      left: 7px;

      width: 34px;
      height: 30px;

      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--handmade {
    @media (min-width: $bp-tablet) {
      order: 1;
      padding-right: 40px;
    }

    &::before {
      top: 4px;
      left: 4px;

      width: 34px;
      height: 35px;

      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--native {
    @media (min-width: $bp-tablet) {
      order: 3;
    }

    &::before {
      top: 5px;
      left: -6px;

      width: 55px;
      height: 23px;

      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--gift {
    @media (min-width: $bp-tablet) {
      order: 5;
    }

    &::before {
      top: 3px;
      left: 3px;

      width: 33px;
      height: 32px;

      background-image: url("../img/icon-feature-gift.svg");
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  min-height: 69px;
  padding-right: 39px;
  padding-left: 39px;

  font-size: 19px;
  line-height: 18px;

  @media (min-width: $bp-tablet) {
    margin-left: auto;
    padding: 0;
    padding-top: 13px;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 27px;


  @media (min-width: $bp-tablet) {
    margin: 0;
    margin-right: 30px;
  }
}

.copyright__link {
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }
}

.container {
  position: relative;

  max-width: 260px;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    max-width: 668px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 1050px;
  }
}

.contacts {
  position: relative;

  margin-bottom: 40px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 57px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 1150px;
    margin: auto;
    margin-bottom: 104px;
  }
}

.contacts__title {
  margin: 0;
  margin-top: 41px;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;

  @media (min-width: $bp-tablet) {
    margin: 0;
    margin-bottom: 48px;
    padding-top: 78px;

    font-size: 43px;
    line-height: 50px;
    text-indent: -5px;

    &::before {
      content: url("../img/icon-flag.svg");
      position: absolute;
      top: 62px;
      right: -5px;

      width: 50px;
      height: 85px;
    }
  }

  @media (min-width: $bp-desktop) {
    max-width: 500px;
    padding-top: 164px;
    padding-left: 174px;

    font-size: 53px;
    line-height: 57px;

    &::before {
      top: 157px;
      left: 68px;
    }
  }
}

.contacts__map {
  height: 457px;

  @media (min-width: $bp-desktop) {
    width: 525px;
  }
}

.contacts__map-wrapper {
  margin-bottom: 42px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $bp-desktop) {
    position: absolute;
    top: 95px;
    right: 51px;
  }
}

.contacts__button {
  width: 81%;
  margin: auto;

  @media (min-width: $bp-tablet) {
    width: 230px;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 79px;
    margin-left: 225px;
  }
}

.contacts-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-bottom: 54px;

    font-size: 17px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 173px;
  }
}

.contacts__tbody {
  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $bp-desktop) {
    flex-direction: column;
  }
}

.contacts-table__row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $bp-tablet) {
    margin-right: 51px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.contacts-table__cell-name {
  flex-shrink: 0;
  width: 29%;

  @media (min-width: $bp-tablet) {
    width: auto;
    padding-right: 22px;
  }

  @media (min-width: $bp-desktop) {
    padding-right: 24px;
  }
}

.contacts-table__link {
  padding-bottom: 4px;

  border-bottom: 1px solid #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }

  @media (min-width: $bp-tablet) {
    padding-bottom: 2px;
  }

  @media (min-width: $bp-desktop) {
    padding-bottom: 4px;
  }
}

.categories {
  position: relative;

  font-size: 19px;
  line-height: 24px;

  @media (min-width: $bp-tablet) {
    font-size: 20px;
    line-height: 30px;

    background-color: #f9f9f9;

    &::after {
      content: "";
      position: absolute;
      top: 87%;

      display: block;
      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-position-x: center;
      background-size: auto 22.8px;
    }
  }

  @media (min-width: $bp-desktop) {
    &::after {
      top: 82%;

      height: 34px;

      background-size: 1250px;
    }
  }
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  @media (max-width: $bp-tablet) {
    background: linear-gradient(#63d1bb 50%, #56c3b2 50%);
  }

  @media (min-width: $bp-tablet) {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $bp-desktop) {
    width: 1050px;
  }
}

.categories__link {
  overflow: hidden;
  position: relative;

  display: block;
  padding: 27px 120px 29px 30px;

  text-align: left;
  color: #ffffff;

  @media (min-width: $bp-tablet) {
    padding-top: 29px;
    padding-bottom: 35px;
    padding-left: 36px;
  }

  @media (min-width: $bp-desktop) {
    padding-right: 310px;
  }

  &--toy {
  height: 100%;
    background-color: #56c3b2;
  }

  &--interior {
    background-color: #63d1bb;
  }

  &::after {
    content: "";
    position: absolute;

    opacity: 0.5;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  &:hover {
    transform: translateY(-5px);

    transition: transform 250ms;
  }


  &--interior::after {
    top: 24px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");

    @media (min-width: $bp-tablet) {
      top: 30px;
    }
  }

  &--toy::after {
    top: 22px;
    right: 28px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");

    @media (min-width: $bp-tablet) {
      top: 30px;
      right: 35px;
    }
  }
}

.categories__item {
  @media (min-width: $bp-tablet) {
    width: 50%;
  }
}

.catalog {
  background-color: #ffffff;

  @media (min-width: $bp-desktop) {
    padding-top: 45px;
  }
}

.catalog__inner {
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 0;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media (min-width: $bp-tablet) {
    margin-top: 67px;
  }

  @media (min-width: $bp-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog-item__title {
  margin: 0;
  margin-top: 17px;

  font-size: 17px;
  line-height: 24px;

  @media (min-width: $bp-tablet) {
    margin-top: 16px;

    font-size: 20px;
  }
}

.catalog-item__description {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-top: 5px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.catalog-item__price {
  position: relative;

  font-size: 15px;
  line-height: 24px;

  @media (min-width: $bp-tablet) {
    margin-left: 5px;

    font-size: 17px;
  }

  @media (min-width: $bp-desktop) {
    margin: 0;
  }
}

.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  border: 1px solid #ececec;

  &:hover .catalog-item__info {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .catalog-item__info {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $bp-tablet) {
    flex-direction: row;
    min-height: 333px;
    margin-bottom: 53px;
  }

  @media (min-width: $bp-desktop) {
    flex-direction: column;
    width: 316px;
    margin-right: 50px;
    margin-bottom: 57px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.catalog-item__info {
  padding: 9px 27px 28px;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
  }

  @media (min-width: $bp-desktop) {
    min-height: 197px;
    padding-bottom: 27px;
  }
}

.catalog-item__link {
  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }

  &--image {
    @media (min-width: $bp-tablet) {
      flex-shrink: 0;
      width: 333px;
    }

    @media (min-width: $bp-desktop) {
      width: auto;
      height: 462px;
    }
  }
}

.catalog-item__footer {
  display: flex;
  justify-content: space-between;

  @media (min-width: $bp-tablet) {
    margin-top: auto;
    padding-top: 22px;

    border-top: 1px solid #ececec;
  }

  @media (min-width: $bp-desktop) {
    padding-top: 23px;
  }
}

.catalog-item__cart-link {
  @media (min-width: $bp-tablet) {
    margin-right: 5px;
  }
}

.catalog-item__icon {
  opacity: 0.2;

  &:hover {
    opacity: 1;

    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}







