.modal {
	position: absolute;
	top: 0;
	width: 100% ;
	background: #fff;
	/*min-height:  100vh;*/
 	z-index: 999;
 	opacity: 0;
 	pointer-events: none;
 	z-index: -1;
 	transition: 0.3s ease-in-out all;

}


.activeModal .modal{
	opacity: 1;
	pointer-events:  auto;
	z-index: 999;
}

.modal-container {
	max-width: 900px;
	border: 3px solid #000;
	margin: 50px  auto ;
	padding: 20px;
}
.modal-container {
	position: relative;
}
.close-icon {
	width: 20px;
	position: absolute;
	right: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

}
.close-icon:hover{
	opacity: 0.5;
}


.red {
	border-bottom: 2px solid red;
	background-color: #ff6969;
}

.green {
	border-bottom: 2px solid green;
	background-color: #7fff7f4f;
}